@mixin tablet{
    @media (max-width: 800px){
        @content;
    }
}

.searchForm{
    margin: 30px 0px 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;

    @include tablet{
        flex-direction: column;
         div{
            margin: 10px 0px 10px 0px;
        }
    }
}
