@mixin mobile{
    @media(max-width: 460px){
        @content;
    }
}

@mixin tablet{
    @media(max-width: 768px){
        @content;
    }
}


@mixin xltablet{
    @media(max-width: 1024px){
        @content;
    }
}

.image-of-the-day{
    width: 90vw;
    height: 80%;

    @include xltablet{
        height: 70%;

          @include tablet{
            height: 55%;

                @include mobile{
                    height: 40%;
            }
        }
    }
}

