@mixin mobile{
    @media(max-width: 460px){
        @content;
    }
}

@mixin tablet{
    @media(max-width: 768px){
        @content;
    }
}


@mixin xltablet{
    @media(max-width: 1024px){
        @content;
    }
}

.apodSection{
    // margin-top: 100px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;

}

.contentSection{
    width: '70vh',
}

.image-of-the-day{
    width: 90vw;
    height: 80%;

    @include xltablet{
        height: 70%;

          @include tablet{
            height: 55%;

                @include mobile{
                    height: 40%;
            }
        }
    }
}

.pageTitle{
    width: 80vw;    
    font-size: 8em;
    margin: 0px;
    color: "#212121";
}

.pageSubTitle{
    width: 80vw;
    font-size: 2em;
    color: grey;
}

.photoDate{
    color: grey;
}